@{
    ViewData["Title"] = "Contact";
}
<center>
    <h1>@ViewData["Title"]</h1>
    <br></br>
</center>
<center>
    <p><b>Team Mentors:</b></p>
    <p>Ivo Markov&nbsp;&nbsp;<i>imarkov@eisid.org</i></p>
    <p>Zdravko Baryakov&nbsp;&nbsp;<i>zbaryakov@eisid.org</i></p>
    <p><b>Frontend Developers:</b></p>
    <p>Elitsa Stancheva&nbsp;&nbsp;<i>estancheva@eisid.org</i></p> 
    <p>Ivan Stoilov&nbsp;&nbsp;<i>istoilov@eisid.org</i></p>
    <p><b>Backend Developers:</b></p>
    <p>Ivo Sitarski&nbsp;&nbsp;<i>isitarski@eisid.org</i></p>
    <p>Samuil Ovcharov&nbsp;&nbsp;<i>sovcharov@eisid.org</i></p>
    <p>Dimitar Iliev&nbsp;&nbsp;<i>diliev@eisid.org</i></p>
    <br>
<br/>
    <p>Together we are <b>Team Beta</b>!</p>
</center>

<br />
<br />
<br />
