@{
    ViewData["Title"] = "Contact";
}
<center>
    <h1>@ViewData["Title"]</h1>
</center>
<center>
    <p><b>Team Mentors:</b></p>
    <p>Ivo Markov&nbsp;&nbsp;<i>imarkov@eisid.org</i></p>
    <p>Zdravko Baryakov&nbsp;&nbsp;<i>zbaryakov@eisid.org</i></p>
</center>

