<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RecepieDelight.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/Flavorsome Delights.png" alt="Go to Home Page" width="121" height="35">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <!--Ivan i Eli dobaviha razdeli za tipovete recepti, kakto i About Us razdel. Ne e konfigurirano v detaili, no na teoriq raboti.
                            Prosto da figurirat. Utre shte se nastroivat v detaili.
                        -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Breakfast & Brunch</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Lunch</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Dinner</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Desserts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Recepies" asp-action="Index">My Recepies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="AboutUs" asp-action="Index">About Us</a>
                        </li>
                    </ul>
                    <a class="facebook-link" data-track-location="footer" data-track-source="navigation" href="https://www.facebook.com" rel="me noopener noreferrer" target="_blank" title="Facebook" data-uri="affacf21cada3989c18c25128ff7cfdf">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/1024px-Facebook_Logo_%282019%29.png" alt="Visit Facebook" width="29" height="29">
                    </a> &nbsp;&nbsp;
                    <a class="twitter-link" data-track-location="footer" data-track-source="navigation" href="https://www.twitter.com" rel="me noopener noreferrer" target="_blank" title="Twitter" data-uri="affacf21cada3989c18c25128ff7cfdf">
                        <img src="https://png.pngtree.com/png-vector/20221018/ourmid/pngtree-twitter-social-media-round-icon-png-image_6315985.png" alt="Visit Twitter" width="30" height="30">
                    </a> &nbsp;&nbsp;
                    <a class="instagram-link" data-track-location="footer" data-track-source="navigation" href="https://www.instagram.com" rel="me noopener noreferrer" target="_blank" title="Instagram" data-uri="affacf21cada3989c18c25128ff7cfdf">
                        <img src="https://freelogopng.com/images/all_img/1658587303instagram-png.png" alt="Instagram" width="30" height="30">
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="footer-info-pages">
            <a class="inf-page" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a> 
            &nbsp; 
            <a class="inf-page" asp-area="" asp-controller="AboutUs" asp-action="Index">About Us</a>
            &nbsp; 
            <a class="inf-page" asp-area="" asp-controller="AboutUs" asp-action="Index">Contact</a>
            <p class="inf-page">&copy; EISID 2023 - All Rights Reserved - Flavorsome Delights&trade;</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
