<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RecepieDelight.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="https://lh3.googleusercontent.com/pw/AIL4fc9mkg-ImvLrzgzD_rBAKebnCiWpPwfYDZ1skUcRwuSm2ht6UOA9xNkI3j9YkGwsgOaqZD0jcXUsWh2tDtlPAgSQB-Zu42kgnnDZZjATJPL0Uy7uaxbCyJ5wPKQGELxgcIYMaxCjm6tUo8DOcI96I9VgtOvJhU_H5IElPG_OGjQwlieQSsdmADUn95Hpy4Dr-0HyGomIi7CZl-wY81Pphl9xuKwJ_wZE345tQQ4aPeJG9NSHUaTXjvVksFOhTLMyNgdf0FOTKMo--TN5TzJ4cZSb7u_X5IKMVU2S_NVJogGf9hwB-fJ-1IjnQR8K08e2VWDdDF3uYRjWZdC3PPAH0gs6AmlUQTet6alfthpz-jOqw9uF94aUsGCxeq_pnM5bCbPL_QfkH1LEX621L32PXiQZNYPBVe9ag8gWI2QN1Fdj7BI9glh_7EtHEmEgfe1Xc1FRPzX51QxYlS97BWaJuoawQUTyebb1RRzEjY-273fQr22EDrzRLRWjSkH31qPmKfPTZwVsI7181_WEB7S6_29gNFMLQ63P-YT-puyLfuixSoRLLjv6ELzX5lmix9YjBbQxnBlADMKaCiQ1jvNZVtLzNGrfv75zpRKBOP7oOelv5cvexmi6u-iuWGdu50ef9Au8IpwEbCl36mIc4TofbmfIPmmBWizWNVIi6NmFzUi7qI4F7FVMKT0IQJtJX7RWIHErJ9WDsg2BWuaqJMY5lHmgVyUbySZNOzyDqH-vXUk8PReLGQYy52AfxvnQPNTdecGlFR5R9BLxe5Ozwg15Is8MicO9pfcifxSsQBuYx1Gs2cmK0K6n8VU8BLoD02JyRfdevzZwny-Y1AOPa7LJxftWO6nMhXCDglYjHl6sJw-HaHMsT6gQBoj8qHRgSSm-0KAfXkvbYW-icNahONzwgBjvy0H1izJVVgdrhVm1tpLgQ_QhPv62ewy4mz-lyqqEQ_QxSHYGx_t4RsEIcTmF9bX1M65I5k8jbtoJnPH8LDwRfoOPR8LQcZJ6uTBctG7H4ArD=w824-h160-s-no?authuser=2" alt="Go to Home Page" width="154" height="30">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <!--Ivan i Eli dobaviha razdeli za tipovete recepti, kakto i About Us razdel. Ne e konfigurirano v detaili, no na teoriq raboti.
                            Prosto da figurirat. Utre shte se nastroivat v detaili.
                        -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Breakfast & Brunch</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Lunch</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Dinner</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Desserts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Recepies" asp-action="Index">My Recepies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="AboutUs" asp-action="Index">About Us</a>
                        </li>
                    </ul>
                    <a class="facebook-link" data-track-location="footer" data-track-source="navigation" href="https://www.facebook.com" rel="me noopener noreferrer" target="_blank" title="Facebook" data-uri="affacf21cada3989c18c25128ff7cfdf">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/1024px-Facebook_Logo_%282019%29.png" alt="Visit Facebook" width="29" height="29">
                    </a> &nbsp;&nbsp;
                    <a class="twitter-link" data-track-location="footer" data-track-source="navigation" href="https://www.twitter.com" rel="me noopener noreferrer" target="_blank" title="Twitter" data-uri="affacf21cada3989c18c25128ff7cfdf">
                        <img src="https://png.pngtree.com/png-vector/20221018/ourmid/pngtree-twitter-social-media-round-icon-png-image_6315985.png" alt="Visit Twitter" width="30" height="30">
                    </a> &nbsp;&nbsp;
                    <a class="instagram-link" data-track-location="footer" data-track-source="navigation" href="https://www.instagram.com" rel="me noopener noreferrer" target="_blank" title="Instagram" data-uri="affacf21cada3989c18c25128ff7cfdf">
                        <img src="https://freelogopng.com/images/all_img/1658587303instagram-png.png" alt="Instagram" width="30" height="30">
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="footer-info-pages">
            <a class="inf-page" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a> 
            &nbsp; 
            <a class="inf-page" asp-area="" asp-controller="AboutUs" asp-action="Index">About Us</a>
            &nbsp; 
            <a class="inf-page" asp-area="" asp-controller="AboutUs" asp-action="Index">Contact</a>
            <br>
            <p class="inf-page">&copy; EISID 2023 - All Rights Reserved - Flavorsome Delights&trade;</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
