<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RecepieDelight.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Flavorsome Delights</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <!--Ivan i Eli dobaviha razdeli za tipovete recepti, kakto i About Us razdel. Ne e konfigurirano v detaili, no na teoriq raboti.
                            Prosto da figurirat. Utre shte se nastroivat v detaili.
                        -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Breakfast & Brunch</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Lunch</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Dinner</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Desserts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Recepies" asp-action="Index">My Recepies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="AboutUs" asp-action="Index">About Us</a>
                        </li>
                        &#160

                        <li class="facebook" data-reactid="45">
                            <a class="facebook-link" data-track-location="footer" data-track-source="navigation" href="https://www.facebook.com/epicurious" rel="me noopener noreferrer" target="_blank" title="Facebook" data-reactid="46" data-uri="affacf21cada3989c18c25128ff7cfdf">
                                Facebook
                            </a>
                        </li>
                    </ul>
                   <!-- <ul data-reactid="44">
                        <li class="facebook-social-channel-link" data-reactid="45">
                            <a class="facebook-link" data-track-location="footer" data-track-source="navigation" href="https://www.facebook.com/epicurious" rel="me noopener noreferrer" target="_blank" title="Epicurious on Facebook" data-reactid="46" data-uri="affacf21cada3989c18c25128ff7cfdf">
                                Like Epicurious on Facebook
                            </a>
                        </li>
                        <li class="twitter-social-channel-link" data-reactid="47">
                            <a class="twitter-link" data-track-location="footer" data-track-source="navigation" href="https://twitter.com/epicurious" rel="me noopener noreferrer" target="_blank" title="Epicurious on Twitter" data-reactid="48" data-uri="413ec107fcad809700325f4d72317fc4">
                                Follow Epicurious on Twitter
                            </a>
                        </li>
                        <li class="instagram-social-channel-link" data-reactid="49">
                            <a class="instagram-link" data-track-location="footer" data-track-source="navigation" href="https://www.instagram.com/epicurious/" rel="me noopener noreferrer" target="_blank" title="Epicurious on Instagram" data-reactid="50" data-uri="efb61e4a254e9590543244c2be88082a">
                                Follow Epicurious on Instagram
                            </a>
                        </li>
                    </ul>
                     -->
                </div>
         
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - RecepieDelight - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
