@model RecepieDelight.Models.Recepie

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Recepie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="createdDate" class="control-label"></label>
                <input asp-for="createdDate" class="form-control" />
                <span asp-validation-for="createdDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="complexity" class="control-label"></label>
                <input asp-for="complexity" class="form-control" />
                <span asp-validation-for="complexity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="preparationTime" class="control-label"></label>
                <input asp-for="preparationTime" class="form-control" />
                <span asp-validation-for="preparationTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <h6 class="preparationTime">  @Html.DropDownListFor(n => n.CategoryId, new SelectList((List<Category>)ViewData["Categories"], "Id", "Name"))</h6>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
