@{
    ViewData["Title"] = "Flavorsome Delights";
}

    <div class="container-fluid">
        <img src="~/img/backgrountImage.jpg" alt="Background Image" width="100%">
    </div>

    <div class="container-font">
        <h4 class="h4-style-index" contenteditable>One of the best forms of therapy is being in the kitchen.</h4>
       
    </div>

<br/>
<br/>
<br/>
