@{
    ViewData["Title"] = "Flavorsome Delights";
}
<div class="article-container-photo">
    <img id="img" src="~/img/backgrountImage.jpg" alt="Background Image" width="100%">
</div>

    <div class="container-font">
        <h4 class="h4-style-index" content>One of the best forms of therapy is being in the kitchen.</h4>
       
    </div>

<br />
<br />
<br />


