@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<img src="https://lh3.googleusercontent.com/pw/AIL4fc9KKFWue2wjBNqy0LbLlPYa1m2ISXxHm6vdR6vJXuxvHbH9bpPmEpvQn37TiB0ySuj8NnzfTWmntb8ppQRVlXIjrJoV5S1Sjp2795wk-OUly9nX7xPNHM5NDd2-0Jvw-o0JlfZzZI53fk2r4qEssF3He-xT3xo4ZohY68RUbnpwVd1eeb_8h_lJYzcMjtst3Qfix60fcJzqJ2nwtTzyHX0UozFpN_peAWkgeFQzgh5kLJ211KGuo9DFSde-VYc3mjyCK4grbQWg4ltIMNiJob3hAsvy0IH48iLZYdPKUz0yDkVcbdHmDAoEmxjTxnHguLWVU44qyw7l_LzclCxI36GQ1kTw6SGg6oUvXX5tm8BmPAh6lfMsKFcVbsjklbR7-EBxUBHPjTX7OAwz-YF4uDntadymUAyn6G0tlYL_wHsWOkUfpOGgvv4s6TEHoGBf_iPaXc89FP44IS1dNt5lolIJxeRKxLN5wvCdCTG-tRNvqFivf5sqrnF-kLS8mAJjyYEz21GR-8f5zso113THXPSzKIg0uPCTsLZRxhocPTJiSWYQMT_L294Vk_iZXfoZvOuTxkUGBaaWJGp2Al7ZU1xgH7WMRS2MqxBDs12bucqsIR4o8ncTMMBq8Hzna2umXwfRtGVVBU1Y31eVN2OcxLBwzaMUXsBoruLa2A6DCnCYMegycr1tM2JZ6oyz_LpoXb6s4mmqjfIfsOl6VuyeAo5EWSy9VWCKpIPXbAjgURyriml9VeRk5Q7lHpRSTc2r_1oBxX8hvr3Bhda2wnzOvqVJJlQyth2aOFi0MNwhzmrfuAgtg1ZkNF9_EwqGQiJYM_ciKZT-hGYF32TF6Wkoeh0QnIBplirHBjTxI7X8gzMOsOg1frXBgmw9tB1-Yf0riUhBJMnOpf8xGO1pS-ckH9TmHDkQTTNPPxGPvds5y67av8PN4sLsCDRa5LsHNdTSrbVP2N3sUt3XUoJuvbQYI_5BJ6Bu11GUAhQmOnhHfPn9X5ncl6s8IxEE92mmkeqFCG4i=w405-h720-s-no?authuser=0" alt="Visit Twitter" width="300" height="300">
