@{
    ViewData["Title"] = "Flavorsome Delights Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h6><i>Last Updated: 18.07.2023</i></h6>
<p> </p>
<p>
    At Flavorsome Delights, we are committed to ensuring the privacy and security of your personal information. This Privacy Policy outlines the types of information we collect, how we use and protect it, and your rights regarding your data when you use our web application and related services. We encourage you to read this document carefully to understand our practices.
</p>
<p>
    <b>Information We Collect:</b>
</p>
<ol type="1">
    <li>Personal Information</li>
    <ul type="circle">
        <li>Processor: AMD Ryzen 7 4700U</li>
        <center>
            <img src="image.jpg" alt="The Processor Logo" height="250" width="250" border="6">
        </center>
        <li>HDD: Partiot SSD</li>
    </ul>
    <li>RAM: 16GB DDR5 Kingston</li>
    <li>GPU: Radeon Vega 8</li>

</ol>

<br/>
<br/>
<br/>
